.main {
  justify-self: center;
  font-family: 'Montserrat', sans-serif;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin: 25px;
    color: white;
    font-size: 24px;
    font-weight: 800;
    width: 50vw;
    height: 200px;
    padding: 10px;
    // background-color: rgba($color: #eeeeee, $alpha: 0.9);
    border-radius: 10px;
    align-self: center;
  }
}
