.course-card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.course-card-container{
    display: flex;
    flex-direction: row;
    width: 80%;
}
h1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
