@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.message-card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.message-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.message-card-wrapper h1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.HeadName {
  font-family: 'Roboto';
  color: white;
  font-weight: 900;
}