.article-card-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article-card-container{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;

}
.article-card-wrapper h1 {
display: flex;
justify-content: center;
margin-top: 20px;
margin-bottom: 20px;
}
.titlew {
  color: white;
}
