@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.ReviewListmain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 20px;
}
.loading {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.butplus {
    width: 44px;
    height: 44px;
    border: 2px solid #333;
    border-left: 0;
    border-top: 0;
    transform: rotate(315deg);
    background-color: transparent;
    cursor: pointer;
}
.butmin {
    width: 44px;
    height: 44px;
    border: 2px solid #333;
    border-left: 0;
    border-top: 0;
    background-color: transparent;
    transform: rotate(135deg);
    cursor: pointer;
}

.nameofrew,
.textofrew {
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.mainfoot {
  color: white;
}
.textofrew {
  width: 50vw;
}
