.first_yar,
.title_yar,
.third_yar,
.buttons_yar {
  display: flex;
  justify-content: center;
}
$orang: #ec6933;
$blue: #00b6e6;
.form1 {
  width: 40vw;
  height: 20vh;
  resize: none;
  margin-bottom: 50px;
}
.main_photo {
  display: flex;
  align-self: center;
  width: 40vw;
}
.title {
  margin-bottom: 20px;
  width: 30vw;
  height: 5vh;
  resize: none;
}
.maintext {
  width: 80vw;
  height: 30vh;
}
.buttons_yar {
  margin-top: 50px;
}
.title_yar,
.second_yar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third_yar_yar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.glavt,
.neglavt,
.titlet {
  margin-bottom: 10px;
  color: white;
}
.titletmain {
  margin-bottom: 50px;
  color: white;
  text-align: center;
}
.submit,
.submitnear {
  transition: all 0.3s ease-in-out;
  font-family: 'Dosis', sans-serif;
  margin: 10px 0px 30px 0px;

  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-color: orange;
  box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: white;

  &:hover {
    transform: translateY(3px);
    box-shadow: none;
    background-color: $blue;
    color: $orang;
  }

  &:active {
    opacity: 0.5;
  }
}
